@import '../base/mixins.scss';


.navegacion {
    z-index: 4;
    position: fixed;
    width: 100%;
    padding: 1.2rem;
    border-bottom: 1px solid rgba($color: #fff, $alpha: .5);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.7);
}

.navbar-container {
    align-items: center;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}
.menu-links {
    display: flex;
    gap: 2rem;
    .link-item {
        color: rgba($color: #fff, $alpha: .5);
    }
    .activ {
        color: rgba($color: #fff, $alpha: 1.0);
    }
}
.link-item-bigger {
    color: rgba($color: #fff, $alpha: 1.0);
    font-size: 2.3rem;
    &:hover {
        color: rgba($color: #fff, $alpha: 1.0);
    }
}