@import '../base/mixins.scss';


.navegacion {
    z-index: 3;
    // height: 7rem;
}

.navbar-container {
    align-items: center;
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}