@import '../base/mixins.scss';

.sidebar-cont {
    
    @include tablet{
        position: fixed;
        width: 100%;
        transform: translateY(-89.5vh);
        transition: transform 1s;
        z-index: 2;
    }
    @include phoneMin{
        width: 100%;
        // transform: translate(-21.7rem);
    }

}
.open {
    transform: translateY(0);
    transition: transform 1s;
}
.sidebar {
    border-bottom: 1px solid rgba($color: #fff, $alpha: .5);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.7);
    position: sticky;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10rem 5rem 5rem 5rem;
    @include phoneMin{
        padding: 10rem 0 5rem 0;
    }
}
.menu-side{
    position: relative;
    margin: 0 auto;
    top: 39vh;
    justify-content: center;
    display: none;
    padding: .5rem;
    z-index: -1;
    @include tablet{
        display: flex;
    }
}
.menu-side-icon {
    width: 3rem;
    &:hover {
        cursor: pointer;
    }
}

// .fill{
//     width: 30rem;
//     padding: 1rem;
    
//     @include desktop{
//         width: 5rem;
//     }
//     // @include tablet{
//     //     display: none!important;
//     // }
// }

.activo {
    color: #fff;
    background-color: #000;
    border: 0;
    border-radius: 0.25rem;
}
.nav-item {
    
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}