

.bg-dark {
    background-color: #212529;
}

.text-white {
    color: #fff;
}

.mb-auto {
    margin-bottom: auto;
}

.flex-column {
    flex-direction: column;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}